<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>System Loading...</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta http-equiv="refresh" content="5; url=/students" />
  </head>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="text-center">
      <div
        class="animate-spin rounded-full h-32 w-32 border-b-4 border-blue-600 mx-auto mb-4"
      ></div>
      <h2 class="text-2xl font-bold text-gray-800">
        Đang khởi động hệ thống Big Data...
      </h2>
      <p class="text-gray-600 mt-2">
        Đang đồng bộ dữ liệu từ HBase vào Cache Memory.
      </p>
      <p class="text-sm text-gray-500 mt-4">
        Vui lòng đợi trong giây lát, trang sẽ tự tải lại.
      </p>
    </div>
  </body>
</html>
